<div class="container">
    <div class="shownGame" id="modalGame" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div *ngIf="focusedGame" class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{focusedGame.name}}</h4>
                </div>
                <div class="modal-body">
                    <game-details [game]="focusedGame"></game-details>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-sm" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-lg-3 col-sm-12">
        <div *ngFor="let user of users" class="user" [ngClass]="{'active': selectedUser === user}" (click)="selectUser(user)">
            <span class="user-nick">{{user.bggNick}}</span><br />
            <span class="user-display">{{user.forumNick}} ({{user.collectionSize}} games)</span><br />
            <span class="user-email">{{user.email}}</span><br />
            <span class="user-bgg">{{user.bggHandled? "Handled on BGG" : "Handled manually"}}</span>
        </div>
    </div>
    <div *ngIf="shownGames" class="col-md-8 col-lg-8 col-sm-12">
      <div *ngIf="!selectedUser.bggHandled" class="input-group col-md-12">
        <input type="text" class="form-control input-sm" placeholder="Search" name="search" [(ngModel)]="searchTerm"/>
        <span class="input-group-btn" (click)="startSearch()">
                <button class="btn btn-info btn-sm" type="button">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
      </div>
      <div *ngIf="searchResult" class="row">
        <button class="btn btn-lg fa fa-eye" (click)="searchResult = null"></button>
        <div *ngFor="let game of searchResult" class="row searchresult">
          <div class="col-md-3"><a class="game-link" (click)="addGame(game)">{{game.id}}</a></div>
          <div class="col-md-6">{{game.name}}</div>
          <div class="col-md-3">{{game.yearPublished}}</div>
        </div>
      </div>
        <table class="table table-condensed table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Id</th>
                    <th>Name</th>
                    <th>Rank</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let game of shownGames  | paginate: { itemsPerPage: 20, currentPage: currentPage, totalItems: totalItems }">
                    <th scope="row">
                        <button class="btn btn-sm fa fa-search"
                                data-toggle="modal"
                                data-target="#modalGame"
                                (click)="focusedGame = game">
                        </button>
                        <button *ngIf="!selectedUser.bggHandled" class="btn btn-sm fa fa-remove" (click)="removeGame(game)"></button>
                        {{game.id}}
                    </th>
                    <td>{{game.name}}</td>
                    <td>{{game.rank}}</td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="pageChange($event)"></pagination-controls>
    </div>
</div>
