<div class="navbar navbar-inverse navbar-twitch" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="small-nav"><span class="logo"></span></span>
                <span class="full-nav"> Bootsnipp </span>
            </a>
        </div>
        <div class="">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#">
                        <span class="small-nav" data-toggle="tooltip" data-placement="right" title="Home">
                            <span class="glyphicon glyphicon-home"></span> 
                        </span>
                        <span class="full-nav"> Home </span>
                    </a>
                </li>
                <li>
                    <a href="#about-us">
                        <span class="small-nav" data-toggle="tooltip" data-placement="right" title="About Us"> 
                            <span class="fa fa-users"></span> 
                        </span>
                        <span class="full-nav"> About Us </span>
                    </a>
                </li>
                <li>
                    <a href="#contact-us">
                        <span class="small-nav" data-toggle="tooltip" data-placement="right" title="Contact Us"> 
                            <span class="glyphicon glyphicon-comment"></span> 
                        </span>
                        <span class="full-nav"> Contact Us </span>
                    </a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
    
<button type="button" class="btn btn-default btn-xs navbar-twitch-toggle" (click)="onNavbarToggle()">
    <span class="glyphicon glyphicon-chevron-right nav-open"></span>		
    <span class="glyphicon glyphicon-chevron-left nav-close"></span>
</button>

<div *ngIf="login.loggedUser; else other_content" class="container">
    <b>Welcome {{login.loggedUser.bggNick}}!</b>
</div>

<ng-template #other_content>
    <div class="container">
        <strong>Authentication required. Please go back to <a href="/login">the login page</a></strong>
    </div>
</ng-template>