
<div class="container">
    <div class="table">
        <table class="table table-dark table-hover table-condensed">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Rank</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let game of games | paginate: { itemsPerPage: 20, currentPage: currentPage, totalItems: totalItems }">
                    <th scope="row">{{game.id}}</th>
                    <td>
                        <span class="fa fa-search" (click)="showHideGame(game)"></span>&nbsp;
                        <span class="fa fa-remove" (click)="removeGame(game)"></span>&nbsp;
                        <span class="fa fa-refresh" (click)="recrawlGame(game)"></span>&nbsp;
                        &nbsp;{{game.name}}</td>
                    <td>{{game.rank}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <game-details *ngIf="selectedGame" [game]="selectedGame"></game-details>
    <!-- <button *ngIf="selectedGame" class="btn-sm btn-primary" (click)="selectedGame = null">Hide</button> -->
    <pagination-controls (pageChange)="pageChange($event)"></pagination-controls>
</div>
