<div class="container">
  <div class="col-md-3">
    <a href="https://boardgamegeek.com/boardgame/{{game.id}}"><img src="{{game.thumbnail}}" class="img-rounded" /></a>
  </div>

  <div class="col-md">
    <h3>{{game.name}}</h3>
    <p>Created by <strong>{{game.authors}}</strong> in <i>{{game.yearPublished}}</i></p>
    <p>Ranked <b>{{game.rank}}</b> on <i>BoardGameGeek</i></p>
  </div>
</div>

<div class="row" style="margin-top: 3em">
  <div class="col-md">
    <p>{{game.description}}</p>
  </div>
</div>
